<h1>Nombres</h1>
<button onclick="window.location.href='http://localhost:8080/form';">Click Here to move to Form</button>
{{#if hayNombres}}
<ul>
    {{#each nombres}}
    <li>nombre: {{this.nombre}}</li>
    {{/each}}
</ul>
{{else}}
<p>no hay nombres para mostrar...</p>
{{/if}}