<h1 style="color:blue;">Ingrese Articulo</h1>
<br>

<form action="/articulos" method="post">

    <div class="form-group">
        <label for="title"><b>Title</b></label>
        <input id="title" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input id="price" class="form-control" type="number" name="price">
    </div>

    <div class="form-group">
        <label for="img"><b>Imagen</b></label>
        <input id="img" class="form-control" type="text" name="img">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>