  <p>Agrega Nuevos productos</p>
  <form action="enviarArticulos" method="post">
  Ingrese Titile:
  <input type="text" name="titile" size="10"><br>
  Ingrese Price:
  <input type="text" name="price" size="10"><br>
  Ingrese thumbnail:
  <input type="text" name="thumbnail" size="10"><br>
  <input type="submit" value="Enviar">